

<!-- Large Leaderboard (970x90) -->
<div class="adblock ad-large-leaderboard">
    <a href="{SITE_RANDOM_AD_URL}" target="_blank">
        <img src="{T_THEME_PATH}/{SITE_RANDOM_AD_PATH}/970x90.png">
    </a>
</div>

<!-- Leaderboard Size (728x90) -->
<div class="adblock ad-leaderboard">
    <a href="{SITE_RANDOM_AD_URL}" target="_blank">
        <img src="{T_THEME_PATH}/{SITE_RANDOM_AD_PATH}/728x90.png">
    </a>
</div>

<!-- Banner Size (468x60) -->
<div class="adblock ad-banner">
    <a href="{SITE_RANDOM_AD_URL}" target="_blank">
        <img src="{T_THEME_PATH}/{SITE_RANDOM_AD_PATH}/468x60.png">
    </a>
</div>

<!-- Mobile Leaderboard Size (320x50) -->
<div class="adblock ad-mobile-leaderboard">
    <a href="{SITE_RANDOM_AD_URL}" target="_blank">
        <img src="{T_THEME_PATH}/{SITE_RANDOM_AD_PATH}/320x50.png">
    </a>
</div>